<div class="row">
    <div class="col-md-6">
        <div class="m-5 border rounded">
            <h3>Login</h3>
            <app-login></app-login>
        </div>
    </div>

    <div class="col-md-6">
        <div class="m-5 border rounded">
            <h3>Registro</h3>
            <app-registro></app-registro>
        </div>
    </div>

    <div class="col-md-12">
        <div class="m-5 border rounded">
            <h3> Listado </h3>
            <app-listado class="d-flex gap-3"></app-listado>
        </div>
    </div>

    <div class="col-md-6">
        <div class="m-5 border rounded">
            <h3>Carrito</h3>
            <app-carrito></app-carrito>
        </div>
    </div>
</div>