<div class="d-flex gap-3 justify-content-center flex-wrap">
    <div class="card" style="width: 18rem" *ngFor="let movie of movies">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="Imagen pelicula" />
        <div class="card-body d-flex flex-column justify-content-around">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">
                {{ movie.overview | slice:0:100 }}...
            </p>
            <!-- <button (click)="addMovie( movie.id )" class="btn btn-primary">Agregar</button> -->
        </div>
    </div>
</div>
